<h1>Songs by <%= @artist.name %></h1>

<h3>Select a song to see its details</h3>


<% @songs.each do |song| %>
  <%= link_to song.name, artist_song_path(@artist, song)%>
<% end %>

<br>
<hr />
<%= link_to "Add a New Song", new_artist_song_path(@artist)%>
<%= link_to "Back to Artist", artist_path(@artist)%>

